
@{
    ViewBag.Title = "Address Book";
}

<div class="row">
    <div class="col-md-3">
        <h2>Contact list</h2>

        <ul class="list-group">
            @{
                foreach (address_book_ggs_training.Entities.ContactShort c in ViewBag.Contacts)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="material-icons" onclick="removeContact(@c.Id)">face</span>
                        <span class="btn btn-light float-left">@c.Name @c.Lastname</span>
                        <span class="btn btn-danger float-right material-icons" onclick="removeContact(@c.Id)">delete_forever</span>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="col-md-9">
        <h2>Contact details</h2>
        <div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.Label("name", "Name")
                        @Html.TextBox("name", (string)ViewBag.Contact.Name, new { @class = "form-control", ariaDescribedby = "nameHelp", placeholder = "Enter name" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.Label("lastName", "Last name")
                        @Html.TextBox("lastName", (string)ViewBag.Contact.Lastname, new { @class = "form-control", ariaDescribedby = "lastNameHelp", placeholder = "Enter last name" })
                    </div>
                </div>
            </div>

            <div id="divNumber">
                @{
                    for (int i = 0; i < ViewBag.Contact.Numbers.Count; i++)
                    {
                        <div class="row">
                            <div class="col">
                                @Html.Label("phone_" + i, "Phone number")
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Home</a>
                                            <a class="dropdown-item" href="#">Mobile</a>
                                            <a class="dropdown-item" href="#">Work</a>
                                        </div>
                                    </div>
                                    @Html.TextBox("phone_" + i, (string)ViewBag.Contact.Numbers[i].Number, new { @class = "form-control", ariaDescribedby = "phoneHelp", placeholder = "Enter phone number" })
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-right" onClick="createNumber()">Add number</button>
                </div>
            </div>

            <div id="divEmail">
                @{
                    for (int i = 0; i < ViewBag.Contact.Emails.Count; i++)
                    {
                        <div class="row">
                            <div class="col">
                                @Html.Label("email", "Email address")
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Personal</a>
                                            <a class="dropdown-item" href="#">Work</a>
                                        </div>
                                    </div>
                                    @Html.TextBox("email", (string)ViewBag.Contact.Emails[i].Number, new { @class = "form-control", ariaDescribedby = "emailHelp", placeholder = "Enter email address" })
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-right" onClick="createEmail()">Add e-mail</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.Label("streetAddress", "Street address")
                        @Html.TextBox("streetAddress", (string)ViewBag.Contact.Address, new { @class = "form-control", ariaDescribedby = "streetAddressHelp", placeholder = "Enter street address" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.Label("cityAddress", "City")
                        @Html.TextBox("cityAddress", null, new { @class = "form-control", ariaDescribedby = "cityAddressHelp", placeholder = "Enter city" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.Label("stateAddress", "State")
                        @Html.TextBox("stateAddress", null, new { @class = "form-control", ariaDescribedby = "stateAddressHelp", placeholder = "Enter state" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.Label("birth", "Birthdate")
                        @Html.TextBox("birth", null, new { @class = "form-control", ariaDescribedby = "birthHelp", type = "date", placeholder = "Enter date of birth" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.Label("website", "Website")
                        @Html.TextBox("website", null, new { @class = "form-control", ariaDescribedby = "websiteHelp", placeholder = "Enter website" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    @Html.Label("avatar", "Avatar")
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="avatar">
                            @Html.Label("avatar", "Choose an image", new { @class = "custom-file-label" })
                        </div>
                    </div>
                </div>
            </div>

            <div id="divCustom">
                @{
                    for (int i = 0; i < ViewBag.Contact.Customs.Count; i++)
                    {
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.Label("custom_" + i, "Custom field")
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            @Html.TextBox("custom_" + i, null, new { @class = "form-control", ariaDescribedby = "customTypeHelp", placeholder = "Enter field type" })
                                        </div>
                                        @Html.TextBox("custom_" + i, null, new { @class = "form-control", ariaDescribedby = "customValueHelp", placeholder = "Enter field value" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-right" onClick="createCustom()">Add custom field</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.CheckBox("shared")
                        @Html.Label("shared", "Shared contact")
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-light">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function createNumber() {
        $('#divNumber').append(`
                        <div class="row">
                            <div class="col">
                                @Html.Label("phone", "Phone number")
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Home</a>
                                            <a class="dropdown-item" href="#">Mobile</a>
                                            <a class="dropdown-item" href="#">Work</a>
                                        </div>
                                    </div>
                                    @Html.TextBox("phone", null, new { @class = "form-control", ariaDescribedby = "phoneHelp", placeholder = "Enter phone number" })
                                </div>
                            </div>
                        </div>
            `   );
    }

    function createEmail() {
        $('#divEmail').append(`
                        <div class="row">
                            <div class="col">
                                @Html.Label("email", "Email address")
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Personal</a>
                                            <a class="dropdown-item" href="#">Work</a>
                                        </div>
                                    </div>
                                    @Html.TextBox("email", null, new { @class = "form-control", ariaDescribedby = "emailHelp", placeholder = "Enter email address" })
                                </div>
                            </div>
                        </div>
            `   );
    }

    function createCustom() {
        $('#divCustom').append(`
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.Label("custom", "Custom field")
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            @Html.TextBox("custom", null, new { @class = "form-control", ariaDescribedby = "customTypeHelp", placeholder = "Enter field type" })
                                        </div>
                                        @Html.TextBox("custom", null, new { @class = "form-control", ariaDescribedby = "customValueHelp", placeholder = "Enter field value" })
                                    </div>
                                </div>
                            </div>
                        </div>
            `   );
    }

    function removeContact(id) {
        console.log("Removing contact id ", id);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Remove", "Contacts")',
            contentType: "application/json; charset=utf-8",
            data: { contactId: id },
            dataType: "json",
            success: function(recData) { alert(resData); },
            error: function() { alert('A error'); }
        });
    }
</script>