
@{
    ViewBag.Title = "Address Book";
}

<div class="row">
    <div class="col-md-3">
        <h2>Contact list</h2>

        <div class="list-group">
            @{
                foreach (address_book_ggs_training.Entities.ContactShort c in ViewBag.Contacts)
                {
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@c.Name @c.Lastname</h5>
                        </div>
                        <div style="float:right;">
                            <button name="buttonDelete" class="btn btn-light" onclick="removeContact(@c.Id)">REMOVE</button>
                        </div>
                    </a>
                }
            }
        </div>


    </div>

    <div class="col-md-9">
        <h2>Contact details</h2>
        <div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.Label("name", "Name")
                        @Html.TextBox("name", null, new { @class = "form-control", ariaDescribedby = "nameHelp", placeholder = "Enter name" })
                        <small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.Label("lastName", "Last name")
                        @Html.TextBox("lastName", null, new { @class = "form-control", ariaDescribedby = "lastNameHelp", placeholder = "Enter last name" })
                        <small id="lastName" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                </div>
            </div>

            @{
                for (int i = 0; i < 5; i++)
                {
                    <div class="row">
                        <div class="col">
                            @Html.Label("phone", "Phone number")
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Home</a>
                                        <a class="dropdown-item" href="#">Mobile</a>
                                        <a class="dropdown-item" href="#">Work</a>
                                    </div>
                                </div>
                                @Html.TextBox("phone", null, new { @class = "form-control", ariaDescribedby = "phoneHelp", placeholder = "Enter phone number" })
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="row">
                <div class="col">
                    <button class="btn btn-light" onClick="creatediv()">Add number</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    @Html.Label("email", "Email address")
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Personal</a>
                                <a class="dropdown-item" href="#">Work</a>
                            </div>
                        </div>
                        @Html.TextBox("email", null, new { @class = "form-control", ariaDescribedby = "emailHelp", placeholder = "Enter email address" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.Label("streetAddress", "Street address")
                        @Html.TextBox("streetAddress", null, new { @class = "form-control", ariaDescribedby = "streetAddressHelp", placeholder = "Enter street address" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.Label("cityAddress", "City")
                        @Html.TextBox("cityAddress", null, new { @class = "form-control", ariaDescribedby = "cityAddressHelp", placeholder = "Enter city" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.Label("stateAddress", "State")
                        @Html.TextBox("stateAddress", null, new { @class = "form-control", ariaDescribedby = "stateAddressHelp", placeholder = "Enter state" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.Label("birth", "Birthdate")
                        @Html.TextBox("birth", null, new { @class = "form-control", ariaDescribedby = "birthHelp", placeholder = "Enter date of birth", type = "date" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.Label("website", "WebSite")
                        @Html.TextBox("website", null, new { @class = "form-control", ariaDescribedby = "websiteHelp", placeholder = "Enter website" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    @Html.Label("avatar", "Avatar")
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="avatar">
                            @Html.Label("avatar", "Choose an image", new { @class = "custom-file-label" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.Label("custom", "Custom field")
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                @Html.TextBox("custom", null, new { @class = "form-control", ariaDescribedby = "customTypeHelp", placeholder = "Enter field type" })
                            </div>
                            @Html.TextBox("custom", null, new { @class = "form-control", ariaDescribedby = "customValueHelp", placeholder = "Enter field value" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.CheckBox("shared")
                        @Html.Label("shared", "Shared contact")
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-light">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function creatediv() {
        $('#divNumber').append('<button onClick="creatediv()">Click me!</button>');
    }

    function removeContact(id) {
        console.log("Removing contact id ", id);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Remove", "Contacts")',
            contentType: "application/json; charset=utf-8",
            data: { contactId: id },
            dataType: "json",
            success: function(recData) { alert(resData); },
            error: function() { alert('A error'); }
        });

    }
</script>