@{
    ViewBag.Title = "Contact details";
}

<h2>Contact details</h2>

@Html.Label("Name")
<br />
@Html.TextBox("name")
<br />
@Html.Label("Surname")
<br />
@Html.TextBox("surname")
<br />
@Html.Label("WebSite")
<br />
@Html.TextBox("WebSite")
<br />
@Html.Label("BirthDay")
<br />
<input type="date" name="birth" value="">
<br />
@Html.CheckBox("Shared")
@Html.Label("Shared contact")
