@{
    ViewBag.Title = "Contact details";
}

<h2>Contact details</h2>

@Html.Label("Name")
<br />
@Html.TextBox("Name")
<br />
@Html.Label("Surname")
<br />
@Html.TextBox("Surname")
<br />
@Html.Label("Address")
<br />
@Html.TextBox("Address")
<br />
@Html.Label("Avatar")
<br />
<button>Upload image</button>
<br />
@Html.Label("WebSite")
<br />
@Html.TextBox("WebSite")
<br />
@Html.Label("BirthDay")
<br />
<input type="date" name="birth" value="">
<br />
@Html.CheckBox("Shared")
@Html.Label("Shared contact")
<br />
<button>Save</button>